.background {
    background-color: grey;
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    display: none;
}

.popup {
    position: fixed;
    width: 45vw;
    height: 45vh;
    background-color: aqua;
    inset: 0;
}

.visible {
    display: block;
}
