.section {
    height: 90vh;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    background-position: 0% 60.55%;
    scroll-snap-align: start;
    scroll-margin: 0;

    @include tablet {
        background-color: aqua;
    }
}

.textWrapper {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
        1px 1px 0 white, 0 0 5px black;
    transition-duration: 0.3s;
    animation-name: AppearIn;
    animation-duration: 500ms;
    animation-timing-function: linear;
}

.header {
    font-size: 3.5rem;
    color: black;
}

.text {
    font-size: 2rem;
    color: black;
}

.photoWrapper {
    background-color: black;
    width: 400px;
    height: 400px;
    transform: rotate(45deg);
    box-shadow: 0 0 8px black;
    outline: 2px solid white;
    transition-duration: 0.3s;
    animation-name: AppearIn;
    animation-duration: 500ms;
    animation-timing-function: linear;
}

.photo {
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(-45deg);
}

.scrollWrapper {
    position: relative;
    inset: 40% 0 0 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scrollText {
    font-size: 1rem;
    color: black;
    width: 50px;
    text-align: center;
}

.arrow {
    height: 25px;
    width: 25px;
    overflow: hidden;
    animation: 0.7s alternate linear infinite MoveDown;
}

@keyframes AppearIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes MoveDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}
