.section {
    height: 90vh;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    scroll-snap-align: center;
    scroll-margin: 0;

    @include tablet {
        flex-direction: column;
        gap: 20px;
    }
}

.textWrapper {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
        1px 1px 0 white, 0 0 4px black;
    transition-duration: 0.3s;
    animation-name: AppearIn;
    animation-duration: 500ms;
    animation-timing-function: linear;
    position: relative;
    inset: 0 0 0 190px;

    @include tablet {
        inset: 0 0 0 0px;
    }
}

.header {
    font-size: 3.5rem;
    color: black;

    @include tablet {
        font-size: 2.75rem;
    }
}

.text {
    font-size: 2rem;
    color: black;

    @include tablet {
        font-size: 2rem;
    }
}

.photoWrapper {
    background-color: black;
    width: 400px;
    height: 400px;
    transform: rotate(45deg);
    box-shadow: 0 0 8px black;
    outline: 2px solid white;
    transition-duration: 0.3s;
    animation-name: AppearIn;
    animation-duration: 500ms;
    animation-timing-function: linear;
    position: relative;
    inset: 0 0 0 170px;

    @include tablet {
        width: 300px;
        height: 300px;
        inset: 55px 0 0 0;
    }
}

.photo {
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(-45deg);

    @include tablet {
        width: 300px;
        height: 300px;
    }
}

.scrollWrapper {
    position: relative;
    inset: 40% 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include tablet {
        inset: 50px 0 0 310px;
    }
}

.scrollText {
    font-size: 1rem;
    color: black;
    width: 50px;
    text-align: center;

    @include tablet {
        font-size: 1.35rem;
        width: 75px;
    }
}

.arrow {
    height: 25px;
    width: 25px;
    overflow: hidden;
    animation: 0.7s alternate linear infinite MoveDown;
}

@keyframes AppearIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes MoveDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}
