.wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 25px;
    inset: 50% 0 0 3%;

    width: 50px;

    @include mobile {
        inset: 45% 0 0 4%;
    }
}

.link {
    background-color: black;
    height: 50px;
    width: 50px;
    margin: 0 0 -4px 0;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 5px white;
    transition: all 0.3s;

    &:hover {
        transition: all 0.3s;
        filter: invert(100);
        transform: scale(1.4);
    }

    @include mobile {
        height: 40px;
        width: 40px;

        &:active {
            transition: all 0.3s;
            filter: invert(100);
            transform: scale(1.4);
        }
    }
}
