.wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 25px;
    inset: 50% 0 0 3%;

    width: 50px;
}

.socialLink {
    background-color: black;
    height: 50px;
    width: 50px;
    margin: 0 0 -4px 0;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 5px white;
    transition: all 0.3s;

    &:hover {
        transition: all 0.3s;
        filter: invert(100);
        transform: scale(1.4);
        /* border: 1px solid black; */
    }
}
