:root {
    margin: 0;
    --color-primary: #f7df1e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    height: 90vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;

    //Hide scroll bar on all browsers
    -ms-overflow-style: none; //IE and Edge
    scrollbar-width: none; //Firfox

    &::-webkit-scrollbar {
        display: none; //Chrome,Safar,Opera
    }
}

p,
h1,
h2,
h3 {
    cursor: default;
}

.visible {
    display: block !important;
}
