.section {
    height: 90vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    padding: 10% 0 0 0;
    scroll-snap-align: center;

    @include tablet {
        flex-direction: column;
        gap: 0;
    }
}

.bio {
    width: 20vw;

    @include tablet {
        width: 60vw;
        bottom: 10%;
        position: relative;
        text-align: center;
    }
}

.header {
    margin: 0 0 30px 0;
    display: inline-block;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black, 0 0 3px white;

    &:before {
        content: "";
        display: block;
        background-color: white;
        width: 100%;
        height: 1px;
        position: relative;
        border: 1px solid black;
        box-shadow: 0 0 2px white;
        top: 33px;

        @include tablet {
            height: 2px;
            top: 40px;
        }
    }

    @include tablet {
        font-size: 1.8rem;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
            1px 1px 0 black, 0 0 2px white;
    }
}

.skill {
    @include tablet {
        text-align: center;
    }
}

.text {
    margin: 15px 0;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black, 0 0 3px white;

    @include tablet {
        font-size: 1.2rem;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
            1px 1px 0 black, 0 0 2px white;
    }
}

.container {
    display: flex;
    gap: 50px;
    position: relative;
    flex-wrap: wrap;
    top: 20px;
    left: 0px;
    width: 700px;

    @include tablet {
        gap: 35px;
        width: 70vw;
    }
}

.tag {
    border: 1px solid black;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    background-color: $color-primary;
    box-shadow: 0 0 3px white;

    @include tablet {
        box-shadow: 0 0 2px white;
    }
}

.skillText {
    color: black;
    font-size: 1.75rem;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
        1px 1px 0 white, 0 0 3px black;

    @include tablet {
        font-size: 1.5rem;
    }
}
