.section {
    height: 90vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;

    scroll-snap-align: center;

    @include tablet {
        flex-direction: column;
        gap: 0;
        padding: 10% 0 0 0;
    }
}

.bio {
    width: 20vw;
    margin-top: -40px;

    @include tablet {
        width: 60vw;
        bottom: 10%;
        position: relative;
        text-align: center;
    }

    @include mobile {
        margin: 0;
        bottom: 5%;
    }
}

.header {
    margin: 0 0 30px 0;
    display: inline-block;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black, 0 0 3px white;
    font-size: 2.5rem;

    &:before {
        content: "";
        display: block;
        background-color: white;
        width: 100%;
        height: 1px;
        position: relative;
        border: 1px solid black;
        box-shadow: 0 0 2px white;
        top: 50px;

        @include tablet {
            height: 2px;
            top: 40px;
        }

        @include mobile {
            height: 1px;
            top: 30px;
        }
    }

    @include tablet {
        font-size: 1.8rem;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
            1px 1px 0 black, 0 0 2px white;
    }

    @include mobile {
        font-size: 1.3rem;
        margin: 5px;
    }
}

.skill {
    margin-top: -240px;

    @include tablet {
        text-align: center;
        margin-top: 0;
        bottom: 7%;
        position: relative;
    }

    @include mobile {
        bottom: 5%;
    }
}

.text {
    margin: 15px 0;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
        1px 1px 0 black, 0 0 3px white;
    font-size: 1.2rem;

    @include tablet {
        font-size: 1.2rem;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
            1px 1px 0 black, 0 0 2px white;
    }

    @include mobile {
        font-size: 0.9rem;
    }
}

.container {
    display: flex;
    gap: 50px;
    position: relative;
    flex-wrap: wrap;
    top: 20px;
    left: 0px;
    width: 700px;

    @include tablet {
        gap: 35px;
        width: 70vw;
        left: 50px;
    }

    @include mobile {
        left: 60px;
        gap: 15px 20px;
        width: 75%;
    }
}

.tag {
    border: 1px solid black;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    background-color: $color-primary;
    box-shadow: 0 0 3px white;

    @include tablet {
        box-shadow: 0 0 2px white;
        padding: 0.3rem 0.7rem;
    }
}

.skillText {
    color: black;
    font-size: 1.75rem;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
        1px 1px 0 white, 0 0 3px black;

    @include tablet {
        font-size: 1.3rem;
    }

    @include mobile {
        font-size: 1.1rem;
    }
}
